<!DOCTYPE html>
<head>
</head>
<body>
  <form action="/users/login" method="post">
    email: <input type="email" name="email" required>
    password: <input type="password" name="password" required>
    <button type="submit">ログイン</button>
  </form>
  <button><a href="/users/new">新規登録</a></button>
</body>
</html>
