<!DOCTYPE html>
<head>
</head>
<body>
  <form action="/users/login" method="post">
    email: <input type="email" name="email" required>
    password: <input type="password" name="password" required>
    <button type="submit">ログイン</button>
  </form>
  <% if (typeof noUser !== "undefined") { %>
    <p><%= noUser %></p>
  <% } %>
</body>
</html>
